<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>



<!-- This displays all of the projects. To change the way projects appear, go to app/views/projects/_project -->
<%= render partial: 'projects/project', collection: @projects %>



<!-- This is the form for creating new projects -->
<%= form_for @project do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Save" %>
<% end %>
